.clearfix:after
{
	content: "";
	display: block;
	clear: both;
}

 header
 {
  	background: rgba(0,0,0,0.4);
 }

ul
{
	margin: 0;
}

nav
{
	height: 50px;
	background:transparent;
}

#banner
{
	height: 700px;
	background:transparent;
}

nav ul
{
	list-style: none;
	margin: 0;
	float: right;
}

nav ul li, nav .logo
{
	display: inline-block;
	line-height: 50px;
	margin-right: 20px;
}

nav ul li a
{
	line-height: 50px;
	text-decoration: none;
	display: inline-block;
	height: inherit;
	color: #fff;
}

nav .logo
{
	float: left;
	margin-left: 30px;
}

#banner .inner
{
	max-width: 300px;
	text-align: center;
	margin: 0 auto;
	position: relative;
	top: 150px;
}

#banner .inner h1
{
	margin:0;
}

button
{
	border: none;
	background-color: #666;
	color: #rrr;
	padding: 10px 40px;
}

#banner .inner .more
{
	margin-top:160px;
}

.sub-heading
{
	line-height: 30px;
	margin:30px 0;
	font-size: 13px;
}

.logo
{
	font-size: 20px;
	font-weight: 560;
	letter-spacing: 2px;
}

.logo a
{
	color: #fff;
	text-decoration: none;
	display: inline-block;
}

.green-section
{
	text-align: center;
	background-color:rgba(48, 158, 148, 0.9);
	
}

.green-section .hr
{
	background-color: rgba(48, 158, 148);
	width:600px;
}

.green-section .icon-group .icon
{
	display: inline-block;
	width: 80px;
	height: 80px;
	color: #fff;
	transform: rotate(45deg);
	margin:25px 60px;
	box-shadow: 0 0 8px #217972;
}

.green-section .icon-group .icon a
{
	display: inline-block;
	transform: rotate(-45deg);
	color: #fff;
	font-size: 13px;
	width: 100px;
	text-align: center;
	text-decoration: none;
	margin-top: 32px;
    margin-left: -9px;
}

.wrapper
{
	max-width: 1080px;
	margin:0 auto;
	padding: 70px 0;
}

.hr
{
	width: 100%;
	height: 2px;
	margin: 25px auto;
}

h1
{
	padding: 12px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}

h2{
	font-size: 25px;
}

h3
{
	font-size: 20px;
}

.gray-section
{
	background-color: rgba(14, 13, 20, 0.9);
	color: #fff;
	overflow-x: hidden;
}

.gray-section .img-section
{
	width: 45%;	
}

.img-section img
{
	width: 100%;
}

.gray-section .text-section
{
	width: 55%;
}

.article > div
{
	float: left;
	font-size: 0;
}

.article:after
{
	content: "";
	display: block;
	clear: both;
}

.article:nth-child(odd)
{
	background-color: rgba(14, 13, 20, 0.05);
}

 .text-section
 {
 	position: relative;
    top: 60px;
    left: 63px;
 }

 .text-section h2
 {
 	margin-bottom: 30px;
 }

 .text-section .sub-heading
 {
 	font-size: 18px;
 	margin-top: -18px;
 }

 .text-section p
 {
 	font-size:15px;
 	letter-spacing: 1px;
 	width: 600px;
 }

 .purple-section
 {
 	    background-color: rgba(158, 94, 124, 0.9);
 	    color: #fff;
 	    padding: -100px 0;
 	    overflow-x: hidden;
 }

 .purple-section .heading-wrapper
 {
 	text-align: center;
 }

  .purple-section .hr
  {
  	background-color: rgba(158, 94, 124);
  	width: 60%;
  }

  .card
  {
  	float: left;
  	width: 50%;
  	min-height: 300px;
  	padding: 50px;
  	box-sizing: border-box;
  	text-align: center;
  }

  .card p
  {
  	font-size: 15px;
  	letter-spacing: 1px;
  }

  .card:first-child
  {
  	background-color: rgba(0, 0, 0, 0.05);
  }

  .card:nth-child(2)
    {
  	background-color: rgba(0, 0, 0, 0.08);
  }

  .card:nth-child(3)
    {
  	background-color: rgba(0, 0, 0, 0.11);
  }

  .card:nth-child(4)
    {
  	background-color: rgba(0, 0, 0, 0.14);
  }

  .card:nth-child(5)
    {
  	background-color: rgba(0, 0, 0, 0.17);
  }

  .card:nth-child(6)
    {
  	background-color: rgba(0, 0, 0, 0.2);
  }

  footer
  {
  	background-color: rgba(0, 0, 0, 0.7);
  	color: #fff;
  	min-height: 200px;
  	text-align: center;
  }

  ul.share-group
  {
  	display: block;
 	margin:0 auto;
 	width: 600px;
 	padding: 50px;
  }

  .share-group li
  {
  	display: inline-block;
  	padding: 0 15px;
  }

  .main-wrapper
  {
  	background: url(../img/banner.jpg);
  	background-attachment: fixed;
  	background-repeat: no-repeat;
  	background-size: cover;
  	background-position: center center; 
  }
